<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>שגיאה</title>
</head>
<body>
    <hgroup>
        <h1>ארעה שגיאה.</h1>
        <h2>ארעה שגיאה במהלך עיבוד הבקשה.</h2>
</hgroup>
</body>
</html>
