@using MeetingSummary.Models
@model MeetingTasks

<li>
    @if (Model != null)
    {
        <table width="100%" cellpadding="3" class="tblTasks" style="table-layout: fixed;">
            <tr>
                <td width="90%">
                    <input type="text" id="tbTask-@Model.Id" class="tbTasks form-control" @(Model.IsDone ? "check disabled='disabled'" : string.Empty) value="@Model.Description"/>
                </td>
                <td>                    
                    <input type="checkbox" class="chkTasks form-control" id="chkTasks-@Model.Id" onchange="complete('Tasks')" @(Model.IsDone ? "checked" : string.Empty)/>
                </td>
            </tr>
        </table>
    }
    else
    {
        <table width="100%" cellpadding="3">
            <tr>
                <td width="90%">
                    @Html.TextBox("Description", null, new { id = "tbTask", @class = "tbTasks form-control" })
                </td>
                <td>
                    <input type="checkbox" class="chkTasks form-control" id="chkTasks" onchange="complete('Tasks')" />
                </td>
            </tr>
        </table>
    }
</li>


