body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.short-input {
    max-width: 150px;
}

.noDisplay
{
	display: none;
}

.modalSpinner
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 100001;
}

.bold
{
    font-weight: bold;
}

.under
{
    text-decoration: underline;
}

.jumbotron {
    background-color: #8ac6ff;
    color: white;
}

li
{
    display: block;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form-control
{
    display: inline;
}

.completed
{
    text-decoration: underline;
}

.add-btn > .glyphicon
{
    padding-right: 10px;
}

#addSummary .modal-body
{
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}