@using MeetingSummary.Models;
@{
    ViewBag.Title = "סיכום פגישות";
}

<div class="jumbotron">
    <p>
        <h2>@ViewBag.Title</h2>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addSummary" onclick="loadSummaryModal();">צור סיכום חדש</button>
    </p>
</div>

<div id="meetingsReport">
    @Html.Partial("Meetings")
</div>

<!-- Modal -->
<div class="modal fade" id="addSummary" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="addSummaryContent">
        </div>
    </div>
</div>

<div class="modal fade" id="importModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="hImportType" value="" />
            </div>
            <div class="modal-body">
                <fieldset style="width: 100%; direction: rtl;">
                    <p>
                        <div>
                            <span class="bold under">בחר תאריך לייבוא:</span>
                            @Html.DropDownList("Meetings", null, new { @class = "form-control short-input", id = "importMeeting" })
                            <button id="btnDisplayOptions" class="btn btn-default" onclick='updateDataToImport();'>הצג</button>
                        </div>
                    </p>
                </fieldset>
                <div id="importModalBody">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnImportData" class="btn btn-default" onclick='saveImport()'>ייבא</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearImportModal()">בטל</button>
            </div>
        </div>
    </div>
</div>