@using MeetingSummary.Models;

<table id='tblReport' class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
            </th>
            @foreach (var header in Const.REPORT_HEADERS)
            {
                <th style="text-align: right;">
                    @header
                </th>
            }
        </tr>
    </thead>
</table>
